.main-background {
  background-image: url("../gg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0%, center top;

  padding: 60px;
}

.map-image {
  max-width: 500px;
  max-height: 300px;
}

.album-image {
  max-width: 350px;
  max-height: 350px;
}

@media only screen and (max-width: 600px) {
  .map-image{
    max-width: 300px;
    max-height: 200px;
  }

  .album-image {
    max-width: 300px;
    max-height: 300px;
  }
}